@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display&display=swap');

body{
 	font-family: 'Libre Baskerville', serif;
	overflow: hidden;
	background: linear-gradient(180deg,white, #32324e);

}

.container{
	width: 1280px;
	margin: auto;
	cursor: pointer;
}

#timer{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;

}

h1{
	user-select: none;
	color: #fff;
	font-size: 8vw;
}

@media(max-width:1280px){
  .container{
    width: 95%;
  }
}

@media(max-width:768px){
  h1{
    font-size: 4rem;
  }
}

@media(max-width:480px){
  h1{
    font-size: 3.5rem;
  }
}

@media(max-width:320px){
  h1{
    font-size: 3rem;
  }
}








